<div class="card">
    <div class="card-header">
        <div class="card-title">
            <a class="card-link">{{title}}</a>
        </div>
    </div>
    <div class="card-body">
        <img src={{image}} alt='picture of a dish' />
    </div>
</div>