
    <div class="card-header">
        <div class="card-title">
            <a class="card-link" href="/recipe/{{id}}">{{title}}</a>
        </div>
    </div>
    <div class="card-body">
        <img src={{image}} alt='picture of a dish' />
    </div>
