<div class="card">
    <div class="card-header">
        <div class="card-title">
            <a class="card-link" href="/post/{{id}}">{{name}}</a>
        </div>
    </div>
    <div class="card-body">
        {{title}}
        <img src={image} alt='picture of a dish' />
    </div>
</div>