<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4">Dashboard</h1>
    </div>
  </div>
  <br>
  <h1 class="mb-4">Recipe</h1>
  {{#each favoriteDishes as |dish|}}
  <a class="card-link" href="/recipe/{{dish.spoon_id}}_true">{{dish.name}}</a>
  <img src={{dish.picture_source}} alt='picture of a dish' />

  {{/each}}

</div>